# Server Configuration
PORT=3000
NODE_ENV=production

# Database Configuration (Supabase Cloud PostgreSQL)
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.pipgorampefcpdxkqcgd.supabase.co:5432/postgres

# Local Residential Gateway (Tailscale IP:Port of your Windows PC)
PROXY_SERVER=http://100.64.103.62:3128

# Sender Identity
SENDER_EMAIL=editor@worldwidejournals.co.in
BASE_URL=https://worldwidejournals.co.in